<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355202726626-hgldtbo82glqego8a79r7lq6925cuebk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355202726626-hgldtbo82glqego8a79r7lq6925cuebk</string>
	<key>API_KEY</key>
	<string>AIzaSyCdQ2MfzuslujcS6bYn8XTspAeTh6JDAx0</string>
	<key>GCM_SENDER_ID</key>
	<string>355202726626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Self.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355202726626:ios:44450df496fd9a594abcbb</string>
</dict>
</plist>